@font-face {
  font-family: "august";
  src: url(./../assets/fonts/August-Bold.ttf);
}
* {
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
  box-sizing: border-box;
  border: none;
  font-family: monospace;
  overflow-x: inherit;
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 100vw;
  margin-block: 0.2em;
}
::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 100vw;
}
/* .dark {

  background-color: #000;
} */
/* colors for light theme 
#fdf6e3
palettes 2
background #efefef
text #a9a9a9
palettes 3 
back #ecf0f3
*/
.light {
  background-color: #efefef;
}

header {
  position: fixed;
  /* bottom: 0; */
  width: 100%;
  display: flex;
  margin: 0 5px 0 5px;
  justify-content: space-evenly;
  align-items: center;
  min-height: 70px;
  background-color: #000;
  background-image: url(./../img/fontain-pen.jpg);
}

header ul li {
  display: inline;
}
header .navbar a {
  color: #fff;
  font-size: 1.5em;
  padding: 12px;
  transition: 0.5s;
  cursor: pointer;
}
header .navbar a:hover {
  border-bottom: 2px solid blue;
}
header .navbar .list-item {
  margin: 0 5px;
}
header span {
  visibility: hidden;
}
[icon] {
  position: fixed;
  margin: 12px 0 0 12px;
  width: 100px;
  height: 100px;
  background-color: yellow;
  /* color: #fff; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  border-radius: 100px;
  transform: rotateZ(334deg);
  z-index: 12;
}
[icon] img {
  /* position: absolute; */
  margin-top: 20px;
  width: 50px;
  height: 100px;
}
section {
  height: 100vh;
  width: 100%;
}
.welcome {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: yellow; */
  background-image: url(./../img/fontain-pen.jpg);
  background-size: 100%;
  z-index: -1;
  padding: 12px;
}
.welcome div {
  margin: 0 100px;
}
.welcome .intro-img {
  /* background-color: blue; */
  /* width: 500px;
  height: 500px; */
}
.welcome .intro-img img {
  /* display: none; */
  /* position: absolute; */
  width: 40em;
  height: 40em;
  right: 0;
  border-radius: 50%;
}
.welcome .intro-text {
  /* background-color: red; */
  width: 40em;
  height: 40em;
}
.welcome .intro-text pre {
  color: #a9a9a9;
  color: #000;
  /* top: 50%;
  left: 20%;
  transform: translate(-25%, -50%); */
  /* color: #90bb36; */
  font-family: "august";
  font-size: 8em;
}

@media screen and (max-width: 550px) {
  header {
    bottom: 0;
  }
  header .navbar {
    display: none;
  }
}
